
#fh5co-work:before {
    display: none !important;
}

.section-heading {
    margin-bottom: 0px;
}

#fh5co-work {
    padding: 5em 0;
}

#fh5co-header {
    margin-top: 0px;
}

.timer {
    color: rgb(23, 48, 187);
    text-align: center;
    font-size: 129px;
    line-height: 122px;
    font-weight: bold;
}

.fh5co-text {
	 color: rgba(0, 0, 0,1);
}

.cust_data {
	text-align: center;
	color: rgb(23, 48, 187);
    font-weight: 600;
}

.fh5co-text div:first-child {
    text-align: center;
    font-weight: 400;
}

#fh5co-work .fh5co-project-item .fh5co-text span {
    color: rgb(23, 48, 187);
    font-size: 16px;
    font-weight: 600;
}

.question_container {
	padding-bottom: 0
}