<!DOCTYPE html>
<html lang="en">

    {% block head %}
    
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Virtual Assistant for your Business Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Virtual Assistant for your Business Data" />
    
    <link rel="shortcut icon" href="favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Marvel:400,700" rel="stylesheet">
    
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
    <header role="banner" id="fh5co-header">
            <div class="container">
                <!-- <div class="row"> -->
                <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <!-- Mobile Toggle Menu Button -->
                    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                 <a class="navbar-brand" href="{{url_for('connection_info')}}">  <span><img style="margin-right:100px" src="{{ url_for('static', filename='images/logo.png') }}"/>
                <span class="subtitle">
                Virtual Assistant for your business data
                </span>
                 </span></a> 
                </div>
                
               
                </nav>
              
          </div>
    </header>
   
    {% endblock %}

{% block content %}{% endblock %}
   
{% block footer %}
        
        <footer id="footer" role="contentinfo">
        <div class="container">
                <div class="col-md-12 text-center">
                    <p>&copy; Params. All Rights Reserved. </p>
                    
                </div>
            </div>
            
        
    </footer>
    
    
    

    
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    </body>
</html>
{% endblock %}
